body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    font-family: 'Schoolbell', cursive;
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 75%;
}

main h1 {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 10vmin;
    margin-top: 3vmin;
    margin-bottom: 0;
    padding-bottom: 3vmin;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

aside {
    border-left: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    flex-basis: 25%;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

h3 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 2.5vmax;
    margin-bottom: 0px;
}

p {
    text-transform: uppercase;
}

.color-widget-parent {
    display: flex;
    justify-content: center;
    gap: 1.5vmin;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 0;
}

.color-box {
    border: 2px solid black;
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
}

.color-box:hover {
    scale: 1.05;
    cursor: pointer;
    box-shadow: 4px 4px black;
}

.color-box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75vmin;
}

main img {
    height: 3vmin;
    width: 3vmin;
}

aside img {
    height: 2vmax;
    width: 2vmax;
}

aside img:hover {
   scale: 1.2;
   cursor: pointer;
}

.color-buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Schoolbell', cursive;
    font-size: 3.6vmin;
    background-color: #26c6da;
    box-shadow: 2px 2px black;
    border-radius: 8px;
    padding: 0.5vmin 2.5vmin;
    margin-bottom: 3.5vmin;
}

button:hover {
    box-shadow: 4px 4px black;
    cursor: pointer;
    scale: 1.2;
    background-color: #2196f3;
}

.mini-color-box {
    border: 1px solid black;
    height: 3vmax;
    width: 3vmax;
    border-radius: 3px;
}

.single-saved-palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75vmin;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    cursor: grab;
}

@media screen and (max-width: 140vh) {
    body {
        flex-direction: column;
    }
    aside {
        border-left: 0;
        border-top: 2px solid black;
        margin: 1vmin 3vmin;
    }
}
