body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Schoolbell', cursive;
    background-image: url(https://i.gifer.com/6ob.gif);
    background-repeat: repeat;
    /* flex-wrap: wrap; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-left: 4vw; */
    align-items: stretch;
    flex-basis: 75%;
    padding: 5vmin;
    /* min-width: 650px; */
}

main h1 {
    text-align: center;
    /* font-size: 13vmin; */
    margin: 3vmin 0vmin 0vmin 0vmin;
    /* margin-bottom: 0; */
    padding: 0vmin 0vmin 3vmin 0vmin;
    width: 100%;
}

aside {
    border-left: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    overflow: auto;
    /* margin-left: 4vw; */
    flex-basis: 25%;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

@media screen and (max-width: 830px) {
    h1 {
     font-size: 11vmin;
    }
   body {
    flex-direction: column;
    }
}

@media screen and (min-width: 831px) {
    h1 {
        font-size: 16vmin;
    }
    body {
        flex-direction: row;
    }
}

h3 {
    font-size: 2.5vmax;
    margin-bottom: 0px;
}

.color-widget-parent {
    display: flex;
    justify-content: center;
    gap: 2vmin;
    margin-top: 0;
}

.color-box {
    border: 2px solid black;
    /* height: 20vmin; */
    width: 100%;
    border-radius: 10px;
    padding-bottom: 100%;
}

.color-box:hover {
    scale: 1.05;
    cursor: pointer;
    box-shadow: 4px 4px black;
}

.color-box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75vmin;
    width: 100%;
}

.color-widget {
    text-align: center;
    font-size: 3vmin;
    flex-basis: 20%;
}

main img {
    height: 2vmax;
    width: 2vmax;
}

aside img {
    height: 2vmax;
    width: 2vmax;
    flex-basis: 15%;
}

aside img:hover {
   scale: 1.2;
   cursor: pointer;
}

.color-buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-size: 4vmin;
    font-family: 'Schoolbell', cursive;
    background-color: #26c6da;
    box-shadow: 2px 2px black;
    border-radius: 8px;
    padding: 0.5vmin 2.5vmin;
}

button:hover {
    box-shadow: 4px 4px black;
    cursor: pointer;
    scale: 1.2;
    background-color: #2196f3;
}

.mini-color-box {
    border: 1px solid black;
    width: 3vmax;
    height: 3vmax;
    border-radius: 3px;
    flex-basis: 15%;
}

.single-saved-palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75vmin;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}