body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    font-family: 'Schoolbell', cursive;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-left: 4vw; */
    flex-basis: 75%;
}

main h1 {
    text-align: center;
    font-size: 10vmin;
}

aside {
    border-left: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    overflow: auto;
    /* margin-left: 4vw; */
    flex-basis: 25%;
}

h3 {
    font-size: 2.5vmax;
    margin-bottom: 0px;
}

.color-widget-parent {
    display: flex;
    justify-content: center;
    gap: 1vmin;
    margin-right: 2vw;
    margin-left: 2vw;
}

.color-box {
    border: 2px solid black;
    height: 15vmin;
    width: 15vmin;
    border-radius: 10px;
}

.color-box:hover {
    scale: 1.05;
    cursor: pointer;
}

.color-box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75vmin;
}

.color-widget > p {
    text-align: center;
    font-size: 2vmin;
}

main img {
    height: 2vmin;
    width: 2vmin;
}

aside img {
    height: 2vmax;
    width: 2vmax;
}

aside img:hover {
   scale: 1.2;
   cursor: pointer;
}

.color-buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-size: 2vmin;
    font-family: 'Schoolbell', cursive;
}

.mini-color-box {
    border: 1px solid black;
    height: 3vmax;
    width: 3vmax;
    border-radius: 3px;
}

.single-saved-palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75vmin;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}
